<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta http-equiv="Pragma" content="no-cache">
    <meta http-equiv="Cache-Control" content="no-cache">
    <meta http-equiv="Expires" content="0">
    <meta charset="UTF-8">
    <link href="css/login.css" rel="stylesheet" type="text/css" />
    <title>登录</title>
</head>
<body>
<div class="login_box">

    <div class="login_l_img"><img src="img/login-img.png" /></div>
    <div class="login">
        <div class="login_logo"><a href="#"><img src="img/login_logo.png" /></a></div>
        <div class="login_name">
            <p>数据中转服务器管理apdad</p>
        </div>
        <form method="post">
            <input name="username" type="text"  value="用户名" onfocus="this.value=''" onblur="if(this.value==''){this.value='用户名'}">
            <span id="password_text" onclick="this.style.display='none';document.getElementById('password').style.display='block';document.getElementById('password').focus().select();" >密码</span>
            <input name="password" type="password" id="password" style="display:none;" onblur="if(this.value==''){document.getElementById('password_text').style.display='block';this.style.display='none'};"/>
            <input value="登录" style="width:100%;" type="submit">
        </form>
    </div>
</div>
</body>
</html>